<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vučko SKI Kup Bjelašnica</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body class="aboutus-html">
    <header>
      <h2 class="logo">Vučko SKI Kup</h2>
      <nav class="navigation">
        <a href="../index.html">Glavni meni</a>
        <a href="competitors.html">Takmičari</a>
        <a href="schedule.html">Raspored</a>
        <a href="aboutus.html">O nama</a>
      </nav>
    </header>

    <div class="info-about-us">
      <h1 class="header-about-us">O nama</h1>
      <br>
      <p>
        Web aplikacija "Vučko SKI Kup" je osmišljena da radi na principu
        upravljanja informacija o prijavljenim takmičarima i rasporedu skijaških
        utrka.
      </p>
      <br />
      <p>
        Razvoj aplikacije je rađen pomoću ASP.NET tehnologije sa Entity
        frameworkom, te HTML, CSS i Javascriptom na Frontendu. Za bazu podataka
        je korišten Microsoft SQL Server.
      </p>
      <div class="icons-aboutus">
        <span class="csharp-icon"></span>
        <span class="dotnet-icon"></span>
        <span class="sql-icon"></span>
        <span class="js-icon"></span>
        <span class="html-icon"></span>
        <span class="css-icon"></span>
      </div>
    </div>

    <div class="footer">
      <p>Alen Lović @ 2023</p>
    </div>

    <script src="../javascript/script.js"></script>
  </body>
</html>
