* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("images/6.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  background: #162938;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

/* index.html */

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.img-container {
  position: absolute;
  left: 0;
  margin-left: 20%;
  margin-top: 5%;
}

img {
  max-width: 100%;
  height: auto;
}

.welcome-sign {
  position: absolute;
  top: 0;
  margin-top: 8%;
  font-family: Verdana, sans-serif;
  color: white;
}

.text-container {
  position: absolute;
  right: 20%;
  margin-top: 60px;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  background-color: #009879;
  color: white;
  border-radius: 10px;
}

.subtitle {
  font-size: 24px;
  margin-top: -10px;
}

.description {
  font-size: 18px;
  margin-top: 10px;
}

.signature {
  font-size: 18px;
  margin-top: 50px;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box-login {
  transition: transform 0.2s ease;
  transform: translateX(0);
}

.wrapper.active .form-box-login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box-register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box-register {
  transition: transform 0.2s ease;
  transform: translateX(0);
}

.terms {
  font-size: 0.9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
}

.terms label input {
  accent-color: #162938;
  margin-right: 3px;
}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 1em;
  font-weight: 500;
}

.login-register {
  text-align: center;
  font-size: 0.9em;
  margin: 30px 0 10px;
}

.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.footer {
  position: fixed;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #162938;
  color: white;
  text-align: center;
  padding: 20px;
}

/* table in competitors */

.content-table,
.scheduleContent-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: rgb(183, 181, 181);
}

.content-table thead tr,
.scheduleContent-table thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.scheduleContent-table th,
.content-table td,
.scheduleContent-table td {
  padding: 12px 15px;
}

.content-table tbody tr,
.scheduleContent-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even),
.scheduleContent-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type,
.scheduleContent-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.button-wrapper {
  width: 100%;
  display: flex;
}

.add-competitor,
.add-competitorOnSchedule {
  margin: 0 0 auto auto;
  width: auto;
  height: 40px;
  background: #162938;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  padding: 0 15px;
}

.add-icon {
  padding-right: 5px;
}

.form-overflow {
  height: 500px;
  overflow: auto;
}

/* disciplines section */

.disciplines-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: rgb(183, 181, 181);
}

.disciplines-table thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}

.disciplines-table th,
.disciplines-table td {
  padding: 12px 15px;
}

.disciplines-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.disciplines-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.disciplines-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* registration form for adding a new competitor */

.container {
  width: 100%;
  max-width: 650px;
  background: rgba(0, 0, 0, 0.5);
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
}

.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  border-bottom: solid 1px white;
}

.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.gender-title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid white;
}

.gender-category {
  margin: 15px 0;
  color: white;
}

.gender-category label {
  padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn .btnSave,
.form-submit-btn .btnCancel {
  cursor: pointer;
}

.form-submit-btn {
  margin-top: 40px;
}

.form-submit-btn .btnSave {
  display: inline-block;
  width: 49%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background: #009879;
}

.form-submit-btn .btnCancel {
  display: inline-block;
  width: 49%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background: red;
}

/* .form-submit-btn input:hover{
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255);
} */

/* style za addschedule.html */

.formschedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: grey;
  padding: 20px;
  border: 2px solid #615e5e;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
  margin-right: 10px;
}

input,
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.returnToMain {
  width: auto;
  height: 40px;
  background: #162938;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  padding: 0 10px;
}
